Create a list of your favorite movies and print it. Then, append a new movie to the list and
print the updated list.

In [1]:
list_movie=['RRR','KGF','Hero','Pushpa']
list_movie

['RRR', 'KGF', 'Hero', 'Pushpa']

In [2]:
list_movie.append('Mansara')
list_movie

['RRR', 'KGF', 'Hero', 'Pushpa', 'Mansara']

Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in
the list and print the result.

In [6]:
list_integer=[1,2,3,4,5,6,7,8,9,10]
list_integer

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
sum(list_integer)

55

### Create a list of mixed data types including strings, integers, and floats and print it. Remove
the first element from the list and print the modified list.

In [16]:
list_m=[1,'Apple',1.05,'Sita']
list_m

[1, 'Apple', 1.05, 'Sita']

In [17]:
list_m.pop(0)

1

Create a tuple containing the names of the days of the week and print it. Access and print
the name of the third day.

In [18]:
list_day=('Sunday','Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday')
list_day

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday', 'Saturday')

In [20]:
list_day[2]

'Tuesday'

 Create a tuple of your favorite colors and print it. Check if a certain color is present in the
tuple and print the result.

In [21]:
list_color=('Red','Black','White','Green','Blue')
list_color

('Red', 'Black', 'White', 'Green', 'Blue')

In [23]:
if 'Black' in list_color:
    print('Yes')
else:
    print('No')

Yes

Create a dictionary representing the information of a book with keys "title", "author", and
"year" and print it. Update the year of the book and print the updated dictionary.

In [24]:
book={'title':'DAA','author':'Ram','Year':2002}
book

{'title': 'DAA', 'author': 'Ram', 'Year': 2002}

In [27]:
book['Year']=2005
book

{'title': 'DAA', 'author': 'Ram', 'Year': 2005, 'year': 2005}

Create a dictionary containing the names of fruits as keys and their corresponding colors
as values and print it. Add a new fruit-color pair to the dictionary and print the updated
dictionary.

In [33]:
list_fruits={'Apple':'Red','Mango':'Yellow','Banana':'Green'}
list_fruits

{'Apple': 'Red', 'Mango': 'Yellow', 'Banana': 'Green'}

In [35]:
list_fruits['orange']='orange'
list_fruits

{'Apple': 'Red', 'Mango': 'Yellow', 'Banana': 'Green', 'orange': 'orange'}

Create a dictionary representing the population of different cities with keys as city names
and values as population numbers and print it. Remove a city from the dictionary and print
the modified dictionary.

In [36]:
list_population={'Kathmandu':5898545,'Bhaktapur':354894,'Lalitpur':548795,'Mustang':45700}
list_population

{'Kathmandu': 5898545,
 'Bhaktapur': 354894,
 'Lalitpur': 548795,
 'Mustang': 45700}

In [37]:
del list_population['Lalitpur']
list_population

{'Kathmandu': 5898545, 'Bhaktapur': 354894, 'Mustang': 45700}